a{
  color: #11999E;
}

div {
background-color: #e3f6f5;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Arvo', serif;
}
h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 5.625rem;
}
h2 {
  color: #66BFBF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
}
h3 {
  color: #11999E;
  font-family: 'Josefin Sans', sans-serif
}
.top-container{
  background-color: #bae8e8;
  line-height: 2;
  position: relative;
  padding-top: 10%;
}

.nubeup {
  position: absolute;
  right: 25%;
  top: 5%;
}
.nubedown {
  position: absolute;
  left: 25%;
}
.losjaja {
  font-weight: normal;
}
