a{
  color: #11999E;
  text-decoration: none;
  margin: 20px 20px;
}

a:hover{
  color: #EAF6F6;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Arvo', serif;
}
h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 5.625rem;
}
h2 {
  color: #66BFBF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
}
h3 {
  color: #11999E;
  font-family: 'Josefin Sans', sans-serif
}
p{
  color: #40514E;
}

.bottom-container{
background-color: #66BFBF;
line-height: 3;
padding-top: 30px;
padding-bottom: 30px;
}
.browser{
  width: 20%;
  float: left;
  margin: auto 30px auto auto;
}
.chillies{
 width: 20%;
 float: right;
 margin-left: 30px;
}
.damn{
  margin: 10px auto 70px auto;
}
.getintouch{
  margin-bottom: 0;
}
.horizontal{
  border-style: dotted none none none;
  border-width: 10px;
  color: #EAF6F6;
  height: 10;
  margin: 100px auto 100px auto;
  width: 100px;
}

.horizontalb{
  border-style: dotted none none none;
  border-width: 10px;
  color: #EAF6F6;
  height: 10;
  margin: auto;
  width: 100px;
}


.losjaja {
  font-weight: normal;
}

.margen{
  margin-top: 0
}
.middle-container{
  line-height: 2;
}

.nubeup {
  position: absolute;
  right: 25%;
  top: 5%;
}
.nubedown {
  position: absolute;
  left: 25%;
}

.parrafito{
  color: #EAF6F6;
}

.skill-row {
line-height: 2;
text-align: left;
margin: 100px auto 100px auto;
width: 50%;
}

.top-container{
  background-color: #EAF6F6;
  line-height: 2;
  margin: 0;
  position: relative;
  padding-top: 10%;
}

.yo{
 margin-top: 100px;
 width: 20%;
}
