div {
background-color: #e3f6f5;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Arvo', serif;
}
h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  color: #272343;
}
h2 {
  font-family: 'Josefin Sans', sans-serif
}
h3 {
  font-family: 'Josefin Sans', sans-serif
}
.top-container{
  background-color: #bae8e8;
  position: relative;
  padding-top: 10%;
}

.middle-container {

}

.bottom-container {

}

.nubeup {
  position: absolute;
  right: 25%;
  top: 5%;
}
.nubedown {
  position: absolute;
  left: 25%;
}
